
h1{
background-color: #FFFFFF;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px;
font-family:Calibri;
}

span{
color:red;
}

body{
	background-color: #EEEEEE;
	
}

footer{
	background-color: #FFFFFF;	
	text-align: center;
	font-family: Arial;
	font-size: 30px;
}
#LoginUsuarios{
	font-family: Calibri;
	float: left;
	width: 30%;
	height: 250px;
}
#DatosAcceso{
	font-family: Calibri;
	float: right;
	width: 70%;	
	height: 250px;
}

#Requerimientos{
	font-family: Calibri;
	width: 100%;	
	margin-top: 30px;
}
a:link {
  color: blue }
a:visited {
  color: purple }

input[type=text],input[type=password], input[type=email]{
width:80%;
padding: 10px;
margin-top: 8px;
margin-bottom: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:Calibri;

}

input[type=submit]{
width: 80%;
background-color:#888888;
color: black;
border: 2px solid #000000;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
margin-top: 15px;
}

#profile{
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7;
}

#Info{
float:right;
padding:5px;
border:dashed 1px gray;
margin-top: -168px;
}

a{
text-decoration:none;
color: cornflowerblue;
}

i{
color: cornflowerblue;
}

.error_msg{
color:red;
font-size: 16px;
}

.message{
position: absolute;
font-weight: bold;
font-size: 28px;
color: #6495ED;
left: 262px;
width: 500px;
text-align: center;
}